@import "_reset.css";
body {
    height: 100vh;
    display: grid;
    place-items: center;
}

canvas#game {
    border: 4px solid #333;
    max-width: 100%;
    width: 100%;
    background-color:cornflowerblue;
}